@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "compass/utilities/general/clearfix";

.navbar-brand {
    padding: 0 5px;
}

pre {
    font-size: smaller;
}

#shaderDiff {
    margin-bottom: 20px;
    & > div {
        @include clearfix;
        & > div, pre {
            float: left;
            width: 50%;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}