<div class="well container">
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-info" ng-click="getCameraPosition()">
                <span class="glyphicon glyphicon-facetime-video"></span>
            </button>
        </div>
        <div class="col-md-6 text-center"><div ng-include="gui"></div></div>
        <div class="col-md-3 text-right">
            <button class="btn btn-success" ng-click="reset()">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button class="btn" ng-class="'btn-'+(play && 'warning' || 'success')" ng-click="play = !play">
                <span class="glyphicon" ng-class="'glyphicon-'+(play && 'pause' || 'play')"></span>
            </button>
            <button class="btn btn-success" ng-click="step()">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn hidden" ng-class="'btn-'+(loop && 'info' || 'default')" ng-model="loop" btn-checkbox>
                <span class="glyphicon glyphicon-retweet"></span>
            </button>
        </div>
    </div>
</div>